/*.chat-box{
	background-color: #F5F5F5;
	width: 400px;
	height: 600px;
	float: right;
	border-radius: 8px;
	margin-top: 170px;
	margin-right: 25px;
	padding: -20px;
	box-shadow: 0px 0px 3px 3px #e8e8e8;
}

.chat-box-header{
	background-color: #ffffff;
	min-height: 48px;
	max-height: 50px;
	float: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -moz-border-top-left-radius: 8px;
    -border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}*/

.chat-head-img{
	padding-top: 3px;
	padding-left: 10px;
	margin: 2px 10px;
	width: 40px;
	float: left;
	height: 40px;
}

.img-head{
	width: 42px;
	margin: 5px 10px;
	background-color: #ffffff;
}


.chat-head-text{
	padding-top: 7px;
	padding-left: 3px;
	margin: 2px 10px;
	width: 100px;
	float: left;
	height: 40px;
}

.text-head{
	font-size: 18px;
	opacity: 0.5;
	margin-top: 7px; 
	margin-left: 0px;
	font-family: 'Word Sans', sans-serif;
}

.point{
	background-color: rgb(62, 220, 129);
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid rgb(62, 220, 129);
	float: left;
	margin-left: 8px;
}

.chat-head-icon {
	justify-content: right;
	float: right;
	align-content: right;
	margin-left: 230px;
	opacity: 0.6;
	right: 0;
}


.chat-box-bottom{
	background-color: #ffffff;
	min-height: 48px;
	max-height: 50px;
	float: center;
	margin-top: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -moz-border-bottom-left-radius: 8px;
    -border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
	-webkit-box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.2);
}

.chat-box-bottom-icon {
	width: 50px;
	height: 50px;
	padding-left: 7px;
}

.chat-box-bottom-input {
	width: 320px;
	height: 50px;
	padding: 7px 2px;
}

.input-bottom {
	width: 275px; 
	height: 38px;
	padding: 6px 7px;
	margin-top: 0px;
	margin-left: -10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: text;
    background-color: #ffffff;
    border: none;
    resize: none;
    box-sizing: border-box;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    text-align: left;
    cursor: text;
    transition: ease all 0.3s;
    overflow: hidden;
}
.input-bottom {
	/*-webkit-appearance: none;*/
	outline: none;
}
::placeholder {
	font-style: italic;
	color: grey;
	opacity: 0.8;
	font-family: 'Word Sans', sans-serif;
	font-weight: normal;
	font-size: 14px;
}

.ico-bot {
	font-size: 24px; 
	color: #21abf3;
	margin: 13px 5px;
}

.ico-bot-send {
	-webkit-appearance: none;
	outline: none;
}

.but-send {
	-webkit-appearance: none;
	cursor: pointer;
}
.but-send:focus {
	opacity: 0.5;
}




@media screen and (max-width: 480px) {
	.chat-box {
		margin-right: 10px;
		width: 380px;
		height: 560px;
		margin-left: 10px;
	}

	.chat-head-icon {
		margin-left: 215px;
	}

	.chat-box-bottom-input {
		width: 300px;
	}

	.input-bottom {
		width: 245px; 
	}

	.ico-bot-send {
		margin: 0px 0px;
	}

}